#highScore {
    text-align: left;
    cursor:pointer;
    /* padding: 40px; */
    margin-left:40px;
     font-size:20px;
}

#timer {
    text-align:right;
     font-weight:bold; 
     /* padding:40px;  */
     margin-right:40px;
     font-size:20px;
}
#homeSection h1 {
    margin:auto;
     width:50%;
      text-align:center; 
      font-size:50px;

}
#homeSection p {
    margin:40px; 
    text-align:center; 
    font-size:35px;  
}
#startQuiz {
    text-align:center; 
    background-color:purple; 
      cursor:pointer;
    color:white;
    padding:15px;
     margin: auto;
     font-size: 24px; 
     border-radius: 8px; 
     display:block;  
}
#questionTitle {
    margin:auto;
    width:50%;
    text-align:center; 
    font-size:30px;
    font-weight: bold;
    padding: 30px;
}

#answerchoices button {

text-align:center; 
    background-color:purple; 
      cursor:pointer;
    color:white;
    padding:15px;
     margin: auto;
     font-size: 24px; 
     border-radius: 8px; 
     display:block;
    }


#alldonePage {
  text-align:center; 
}

#alldonePage button {
  text-align:center; 
  background-color:purple; 
    cursor:pointer;
  color:white;
  margin: auto;
   font-size: 24px; 
   border-radius: 8px; 
   display:block;
}
#score h1 {
  text-align:center; 
}
#score button {
  text-align:center; 
  background-color:purple; 
    cursor:pointer;
  color:white;
  margin: auto;
   font-size: 24px; 
   border-radius: 8px; 
   padding:10px;
   display:block
}